body{background-color: rgb(219, 213, 213);
    padding:50px;
    margin:50px;


}
.bod{background-color: white;
    border-style: groove;
    border: 1px solid white;
    
}
.sec1{float: left; width:55%;
    text-align: justify;
    font-size: 30px;}
    .sec2{float: left;
        height: 8cm;
        width: 30%;
        border-radius: 3% 3%;
        text-align: center;     
    }
    input[type=password]{
        width: 90%;
        height: 12%;
        padding:10px 20px;
        margin:0 0 5 0;
        box-sizing: border-box;
        border: 1px solid #ccc;     
        border-radius: 7px 7px;
        outline: none; }
    input[type=password]:focus {border:3px rgb(90, 86, 160);}

    input[type="email tel"]{
        width: 90%;
        height: 12%;
        padding:10px 10px;
        margin:0 0 1 0;
        box-sizing: border-box;
        border-radius: 7px 7px;
        border: 1px solid #ccc;
        outline: none; }
    input[type="email tel"]:focus {border:3px rgb(14, 150, 212);}

    input[type=submit]{
        background-color: rgba(23, 140, 218, 0.952);
        color: white;
        font-size: 20px;
        width: 90%;
        height: 14%;
        padding:10px 20px;
        margin:5 0 5 0;
        box-sizing: border-box;
        border: 1px solid #ccc;     
        border-radius: 7px 7px;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        outline: none; }

        input[type=button]{
            background-color: rgba(23, 218, 82, 0.952);
            color: white;
            font-size: 20px;
            width: 60%;
            height: 15%;
            padding:10px 20px;
            margin:5 0 5 0;
            box-sizing: border-box;
            border: 1px solid #ccc;     
            border-radius: 7px 7px;
            outline: none; }

.sec3{
    background-color: white;
    border-style: groove;
    border: 1px solid white;
    font-size: 15px;
        height: 14cm;
        width: 38%;
        border-radius: 5% 5%;
        margin: 0 35%;
        padding: 15px;
          }
          input[type=text]{
            width: 44.5%;
            height: 12%;
            padding:10px 20px;
            margin:0 0 5 0;
            box-sizing: border-box;
            border: 1px solid #ccc;     
            border-radius: 7px 7px;
            outline: none; }
        input[type=text]:focus {border:3px rgb(90, 86, 160);}

        input[type=number]{
            width: 30%;
            height: 12%;
            padding:10px 20px;
            margin:5 0 0;
            box-sizing: border-box;
            border: 1px solid #ccc;     
            border-radius: 7px 7px;
            outline: none; }
        input[type=number]:focus {border:3px rgb(90, 86, 160);}

        input[type=month]{
            width: 30%;
            height: 12%;
            padding:10px 20px;
            margin:0 0 5 0;
            box-sizing: border-box;
            border: 1px solid #ccc;     
            border-radius: 7px 7px;
            outline: none; }
        input[type=month]:focus {border:3px rgb(90, 86, 160);}

        input[type=year]{
            width: 30%;
            height: 12%;
            padding:10px 20px;
            margin:0 0 5 0;
            box-sizing: border-box;
            border: 1px solid #ccc;     
            border-radius: 7px 7px;
            outline: none; }
        input[type=year]:focus {border:3px rgb(90, 86, 160);}

        input[type=radio]{
            width: 20%;
            height: 12%;
            padding:10px 20px;
            margin:0 0 5 0;
            box-sizing: border-box;
            border: 2px solid rgb(170, 168, 168);     
            border-radius: 7px 7px;
            outline: none; }



       
    
    
    
    

    

